*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

.main{	
}

.top{
	
	width: 820px;
	margin: auto;
	margin-top: 50px;
}

.matha{
	text-align: center;
	
}

.matha h1{
	padding: 10px;
}

.matha p{
	padding: 10px;
	font-size: 18px;
}

.col1{
	height: 400px;
	width: 247px;
	text-align: center;
	margin-top: 25px;
	border: 2px solid rgb(180,180,180);
	border-radius: 10px;
	display: inline-block;
	margin: 8px;
	overflow: hidden;
	
}


.col1 img{
	height: 100px;
	width: 100px;
	margin-top: 17px;
	border: 2px solid white;
	border-radius: 60px; 
	border-top: 2px solid blue;
	border-bottom: 2px solid blue;
	transform: rotate(335deg);
}

.col1:hover {
	border-color: blue;
		transform: rotate(0deg);
	
}

.soja img{
	transform: rotate(0deg);

}

hr{
	width: 174px;
	margin: 10px auto;	

}

.col1 h1{
	margin-top: 10px;
	font-size: 22px;
	font-family: tahoma;
}


.col1 h3{
	margin-top: 10px;
	font-size: 18px;

}

.col1 p{
	width: 200px;
	margin: auto;
	text-align: justify;
}

button{
	border: 1px solid white;
	padding: 10px 15px;
	border-radius: 40px;
	font-weight: bold;
	outline: none;
	background-color: rgb(213,240,104);
	text-transform: uppercase;
}

button:hover {
	background-color: rgb(213,140,104);
}

.table{
	text-align: center;
	overflow: hidden;
}
.soja button{

	margin-top: 17px;
	
}
